<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.zhangyu.mapper.TeacherMapper">

    <select id="teaLogin" resultType="me.zhangyu.model.Teacher" parameterType="String">
        SELECT * FROM t_tea WHERE loginName=#{um} AND loginPwd=#{up}
    </select>

    <select id="findTotalRecords" resultType="int" parameterType="int">
        SELECT COUNT(*) FROM t_tea
    </select>

    <select id="findTeachersWithPage" resultType="me.zhangyu.model.Teacher" parameterType="int">
        SELECT * FROM t_tea LIMIT #{startIndex},#{pageSize}
    </select>

    <select id="addTeacher" resultType="me.zhangyu.model.Teacher" parameterType="me.zhangyu.model.Teacher">
        INSERT INTO t_tea (teaId,teaNum,teaRealName,teaSex,teaAge,loginName,loginPwd,del) values(null,#{teacher.teaNum},#{teacher.teaRealName},#{teacher.teaSex},#{teacher.teaAge},#{teacher.loginName},#{teacher.loginPwd},null)
    </select>

    <select id="delTeacherById" resultType="me.zhangyu.model.Teacher">
        DELETE FROM t_tea WHERE teaId=#{id}
    </select>

    <select id="addHomework" resultType="me.zhangyu.model.Homework" parameterType="me.zhangyu.model.Homework">
        INSERT INTO t_Homework (H_id,T_id,H_name,H_startTime,H_endTime,H_content) values(null,#{homework.T_id},#{homework.H_name},#{homework.H_startTime},#{homework.H_endTime},#{homework.H_content})
    </select>

    <select id="addStudentHomework" resultType="me.zhangyu.model.StudentHomework" parameterType="me.zhangyu.model.StudentHomework">
        INSERT INTO t_stu_homework (id,stu_id,h_name,h_startTime,h_subTime,grade,h_content) values(null,null,#{sh.h_name},#{sh.h_startTime},'未提交',null,#{sh.h_content})
    </select>



    <select id="updateTeacher" resultType="me.zhangyu.model.Teacher" parameterType="me.zhangyu.model.Teacher">
        UPDATE t_tea SET teaNum=#{teacher.teaNum},teaRealName=#{teacher.teaRealName},teaSex=#{teacher.teaSex},teaAge= #{teacher.teaAge}, loginName=#{teacher.loginName},loginPwd =#{teacher.loginPwd} WHERE teaId=#{teacher.teaId}
    </select>

    <select id="findPrevHomework" resultType="me.zhangyu.model.Homework" parameterType="List">
        SELECT * FROM t_homework WHERE T_id=#{t_id} ORDER BY H_id DESC LIMIT 0,5
    </select>

    <select id="findSubmitHomework" resultType="me.zhangyu.model.StudentSubmitHomework" parameterType="List">
        SELECT * FROM t_submithw WHERE h_id=#{hid}
    </select>


</mapper>