<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.zhangyu.mapper.UserMapper">
    <select id="findById" resultType="user" parameterType="int">
        SELECT * FROM stu_user WHERE id = #{id}
    </select>

    <select id="findByUsername" resultType="user" parameterType="me.zhangyu.model.User">
        SELECT * FROM stu_user WHERE username = #{username}
    </select>

    <select id="validateUserExist" resultType="user" parameterType="me.zhangyu.model.User">
        SELECT * FROM stu_user WHERE username = #{username}
    </select>

    <select id="findPrevHomework" resultType="me.zhangyu.model.Homework" parameterType="List">
        SELECT * FROM t_homework ORDER BY H_id DESC LIMIT 0,5
    </select>
    <select id="findHomeid" resultType="me.zhangyu.model.Homework" parameterType="String">
        SELECT * FROM t_homework WHERE H_name = #{hId}
    </select>

    <select id="submitHomework" resultType="me.zhangyu.model.StudentSubmitHomework" parameterType="me.zhangyu.model.StudentSubmitHomework">
        INSERT INTO t_submithw (id,stu_id,h_id,grade,homeAttachment,homeOldname,isSubmit,subData,shw_content) values(null,#{ssh.stu_id},#{h_id},null,#{ssh.homeAttachment},#{ssh.homeOldname},#{ssh.isSubmit},#{ssh.subData},#{ssh.shw_content})
    </select>

    <select id="findpreStudentHomework" resultType="me.zhangyu.model.StudentHomework" parameterType="List">
        SELECT * FROM t_stu_homework where subjectId = #{id}
    </select>

    <select id="updateStudentHomework" resultType="me.zhangyu.model.StudentHomework" parameterType="me.zhangyu.model.StudentHomework">
        UPDATE t_stu_homework SET stu_id=#{sh.stu_id},h_id=#{sh.h_id},h_subTime=#{sh.h_subTime} WHERE h_name=#{h_name}
    </select>

    <select id="updatesubmithomework" resultType="me.zhangyu.model.StudentSubmitHomework" parameterType="me.zhangyu.model.StudentSubmitHomework">
        UPDATE t_submithw SET stu_id=#{upssh.stu_id},homeAttachment=#{upssh.homeAttachment},homeOldname=#{upssh.homeOldname},isSubmit=#{upssh.isSubmit},subData=#{upssh.subData},shw_content=#{upssh.shw_content} WHERE h_id=#{h_id}
    </select>

    <select id="findSubmitHomeworkByid" resultType="me.zhangyu.model.StudentSubmitHomework" parameterType="me.zhangyu.model.StudentSubmitHomework">
         SELECT * FROM t_submithw WHERE id = #{id}
    </select>

    <select id="findSubmitHomeworkBySIdAndHId" resultType="me.zhangyu.model.StudentSubmitHomework" parameterType="me.zhangyu.model.StudentSubmitHomework">
         SELECT * FROM t_submithw WHERE h_id = #{hid} AND stu_id =#{sid}
    </select>

    <!-- 考生信息搜索查询 -->
    <select id="findList" parameterType="Map" resultType="me.zhangyu.model.User">
        select * from stu_user where 1 = 1
        <if test="username != null">
            and username like '%${username}%'
        </if>
        <if test="subjectId != null">
            and subjectId = #{subjectId}
        </if>
        <if test="offset != null and pageSize != null">
            limit #{offset},#{pageSize}
        </if>
    </select>

    <!-- 考生插入操作 -->
    <insert id="add" parameterType="me.zhangyu.model.User">
		insert into stu_user(id,subjectId,username,password,t_id) values(null,#{subjectId},#{username},#{password},#{t_id})
	</insert>
    <!-- 考生更新操作 -->
    <update id="edit" parameterType="me.zhangyu.model.User">
		update stu_user set username = #{username},subjectId = #{subjectId},password = #{password}where id = #{id}
	</update>

    <!-- 模糊搜索总条数 -->
    <select id="getTotal" parameterType="Map" resultType="Integer">
        select count(*) from stu_user where 1 = 1
        <if test="username != null">
            and username like '%${username}%'
        </if>
        <if test="subjectId != null">
            and subjectId = #{subjectId}
        </if>
    </select>
    <!-- 删除考生信息 -->
    <delete id="delete" parameterType="Long">
		delete from stu_user where id =${value}
	</delete>

    <!-- 考生信息按登录名查询 -->
    <select id="findByName" parameterType="String" resultType="me.zhangyu.model.User">
		select * from stu_user where username = #{value}
	</select>

    <select id="findNoticeList" resultType="me.zhangyu.model.Notice" parameterType="List">
        SELECT * FROM notice ORDER BY createTime DESC LIMIT 0,6
    </select>

    <select id="findNoticeByid" resultType="me.zhangyu.model.Notice" parameterType="me.zhangyu.model.Notice">
        SELECT * FROM notice WHERE id = #{id}
    </select>


</mapper>